GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=

ACCESS_TOKEN_COOKIE_NAME=access_token
REFRESH_TOKEN_COOKIE_NAME=refresh_token
ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=7d
COOKIE_DOMAIN=your_domain # not for local development

CLIENT_APP_URL=

PORT=
GOOGLE_API_KEY=