GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=

ACCESS_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_COOKIE_NAME=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

CLIENT_APP_URL=

HASH_ALGORITHM=
HASH_SALT_ROUNDS=

PORT=